
div.portfolio-page {
  .header {
    margin: 1.5rem auto 1rem;
    font-size: 2.5rem;
  }

  div.content {
    div.code-block {margin: 1rem 0 1.5rem;}
    .code {font-size: 1.25rem; margin: 0;}

    p.description {
      color: silver;
      margin: 0.5rem 0;
    }

    div.projects {
      display: flex;
      flex-flow: row;
    }

    div.project-card {
      width: 50%;
      margin: 10px;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
      position: relative;
      transition: all 250ms;
      &:hover {
        box-shadow: 4px 8px 8px 1px rgba(0, 0, 0, 0.4);
        transition: all 250ms;
      }

      a.tone-banner {
        position: absolute;
        z-index: 1000;
        margin: 0;
        //padding: 0.5rem;
        background: #0099cc;
        box-shadow: -1px 1px 1px 1px rgba(127, 51, 237, 0.5);
        left: -1rem;
        top: 0.75rem;
        font-size: 0.9rem;
        text-align: center;
        padding: 0.25rem;
        width: 50%;
        border-radius: 2px;
        color: white;

        &:before {
          position: absolute;
          left: 0;
          bottom: -1rem;
          border-top: 1rem solid #7f33ed;
          border-left: 1rem solid transparent;
          width: 0;
          height: 0;
          content: "";
        }

        &:hover {
          //color: #3DC9B0;
          color: #28374c;
          transition: all 250ms;
          text-decoration: none;
        }
      }

      div.card-body {
        padding: 1rem;
        h3.card-title {
          font-weight: bold;
          font-size: 1.2rem;
          margin: 0.75rem 0;
        }
        p.card-text {
          font-size: 1rem;
          color: silver;
          margin: 0;
        }
      }

      div.links {
        display: flex;
        flex-flow: column;
        margin: 1rem 0 0;
        a.icon {
          font-size: 1rem;
          span {margin-left: 5px;}
          &:hover {
            text-decoration: none;
            transform: scale(1);
          }
        }
      }
    }


    div.skills {
      display: flex;
      flex-flow: row wrap;
    }

    div.flippy-container {
      width: 100%;
      max-width: 250px;
      margin: 10px;
      transition: all 250ms;
      text-align: center;
      display: flex;
      align-items: center;
      h3.card-title {margin-top: 1.5rem;}

      div.flippy-card {
        background: lighten(#1f2b3b, 5%);
      }

      div.skill-level {
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        margin: 1rem 0;
        p {color: silver;}
      }

      &:hover {
        box-shadow: 4px 8px 8px 1px rgba(0, 0, 0, 0.4);
        transition: all 750ms;
      }
    }

  }

}

@media screen and (max-width: 800px) {
  div.portfolio-page {
    .header {
      margin: 2.5rem auto 2.5rem;
      font-size: 2rem;
      text-align: center;
    }

    div.content {
      p.description {
        margin: 0.5rem 0 0.5rem 1rem;
      }

      div.projects {
        display: flex;
        flex-flow: column;
      }

      div.project-card {
        width: 95%;
        margin: 0.75rem auto;
      }


      div.skills {
        display: flex;
        flex-flow: row wrap;
      }

      div.flippy-container {
        max-width: 170px;
        .flippy-cardContainer.isActive.istouchdevice .flippy-back {
          background: #1f2b3b;
        }
      }
    }
  }
}
